services:
  app:
    deploy:
      replicas: 1
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=traefik_net"
      # Websocket
      - "traefik.http.routers.ws-webapp.rule=Host(`socket.ragna-ai.com`) && PathPrefix(`/socket.io`)"
      - "traefik.http.routers.ws-webapp.entrypoints=https"
      - "traefik.http.routers.ws-webapp.service=ws-webapp"
      - "traefik.http.services.ws-webapp.loadbalancer.server.port=3030"
      - "traefik.http.routers.ws-webapp.middlewares=crowdsec-bouncer@file,websocket@file"
      - "traefik.http.routers.ws-webapp.tls=true"
      - "traefik.http.routers.ws-webapp.tls.certresolver=http"
    networks:
      traefik_net:

networks:
  traefik_net:
    external: true
  wgnet:
    external: true
